<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NBA Data Table</title>
<link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/css2?family=Cabin&family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"> <!-- DataTables CSS here -->
<div id="table-container-1"></div>
<!-- Include necessary scripts -->
<script src="https://d3js.org/d3.v6.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="{{ '/nba/main.js' | relative_url }}"></script>
<!-- Table Container for Scrolling -->

