table {
    margin-bottom: none;
    border: none;
    border-collapse: none;
  }

td,
th {
  padding: none;
  border: none;
}

.table td.right-border {
    border-right: 3px solid #333;
}

.table td.left-border {
    border-left: 3px solid #333;
}

.table {
    overflow-x: auto;
    overflow-y: auto;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: 'Cabin', sans-serif;

}
.table th {
    font-size: 11px;
    font-weight: 500;
    border-bottom: 2px solid #333;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
}

.table td {
    font-size: 16px;
    border-bottom: 1px solid #cccccc;
    /* Make all cells white */
    background-color: #fff;

}

.table th {
    padding: 2px;
}

.table th {
    /* Optional: Add bottom border to header if desired */
    border-bottom: 3px solid #333;
}

.table .team-cell {
    text-align: left;
}

/* Optional: Add hover to header */
.table th:hover {
    background-color: #e9e6e6;
    color: #333;
}

.container {
    max-width: 60rem;
    padding-left:  1rem;
    padding-right: 1rem;
    margin-left:  auto;
    margin-right: auto;
  }

.table-scroll-container {
    max-width: 200%;
    overflow-x: auto; /* Enable horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
}